<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    {% load static %}	
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155948866-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-155948866-1');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/35d080b3b0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'hrag/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'hrag/css/about.css' %}">
</head>
<body>
    <header class="container">
        <div class="contents-header">
            <ul class="inline">
                <li><a href="/">Home</a></li>
                <li class="selected"><a href="about">About</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <ul class="contacts">
                <li><a href="mailto: hragkara@gmail.com" target="_blank"><i class="fas fa-envelope fa-lg"></i></a></li>
                <li><a href="https://github.com/HragKara" target="_blank"><i class="fab fa-github fa-lg"></i></a></li>
                <li><a href="https://www.linkedin.com/in/hrag-karamanougian-aa9064103/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a></li>
            </ul>
        </div>
    </header>
    <div class="main">
        <div class="title-content">
            <h1 class="heading">What sets me apart from the competition</h1>
        </div>
        <div class="main-content">
            <div class="main-top box">
                <h2 class="top-title">I am an <span class="underline">inspired</span> Developer in Los Angeles, CA</h2>
                <p>My name is Hrag I am 21 year old inspired to start my carreer in devloping anything and everything. I don't see myself doing anything else than coding.</p>
                <p>Although I don't have the experience, it's what pushes me every day to learn more so that I can prove to my self that I have what it takes. From the first time I tried HTML, I got hooked. The coding and problem solving gave me a rush that nothing else can do.</p>
                <p>What I lack in experience would be outweighed by my performance. One of my best qualities is that I am a fast learner, show me once and it's wired in my brain. I self-taught myself HTML when I was a junior in high school and went to Coding Dojo Bootcamp to increase my knowledge in 3 Full Stacks.</p>
            </div>
        </div>
    </div>
    <div id="less-padding" class="main">
        <div class="title-content">
            <h1 class="heading">Goals I would like to set for my future</h1>
        </div>
        <div class="main-content">
            <div class="main-top box">
                <h2 class="top-title">Aim to expand my work experience</h2>
                <p>Without much professional experience under my belt, I hope to acquire a position that would help me achieve this goal. I would like to show that I have what it takes to call my self a full stack developer.</p>
                <h2 class="top-title">Continue learning new things</h2>
                <p>In my free time, I love to learn new things. For my future, I intend to study as many stacks as I can until there are none left. This is a goal of mine becuase as time goes on technologie is evolving and that includes how we write code.</p>
            </div>
        </div>
    </div>
</body>
</html>